<!DOCTYPE html>
{{- $data := .Feed.Data}}
<html>
	<head>
		<title>{{$data.Name}} - {{.Article.Title}}</title>
		<link rel="stylesheet" href="/style.css">
		{{if ne $data.Font ""}}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{$data.Font}}&display=swap">
		<style>
body {
	font-family: '{{$data.Font}}';
}
		</style>
		{{end}}
	</head>
	<body>
		<header class="small" style="background:{{$data.Color}}"> 
			<h1><a href="/{{.Feed.ID}}">{{$data.Name}}</a></h1>
		</header>
		<main>
			{{.Article.HTML}}
		</main>
	</body>
</html>
