<!DOCTYPE html>
{{- $data := .Feed.Data}}
<html>
	<head>
		<title>{{$data.Name}}</title>
		<link rel="stylesheet" href="/style.css">
		{{if ne $data.Font ""}}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{$data.Font}}&display=swap">
		<style>
body {
	font-family: '{{$data.Font}}';
}
		</style>
		{{end}}
	</head>
	<body>
		<header style="background:{{$data.Color}}">
			<h1>{{$data.Name}}</h1>
			<p class="subtitle">{{$data.Description}}</p>
		</header>
		<main class="articles">
			{{- $feed := .Feed}}
			{{- range $_, $articleId := $data.Items}}
			<article style="border-color:{{$data.Color}}">
				{{- $article := $feed.Get $articleId}}
				{{printf "%s/%s" $feed.ID $articleId | $article.Summary}}
			</article>
			{{end -}}
		</main>
	</body>
</html>
