body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

header {
	background: #000;
	color: #fff;
	padding: 16px;
	padding-top: 64px;
}

header h1 {
	margin-bottom: 16px;
	font-size: 36px;
}
header h1 a {
	color: #fff;
}

header > *, main > * {
	margin: auto;
	max-width: 800px;
}

header.small {
	height: auto;
	padding-top: 16px;
}
header.small h1 {
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 0;
}

main {
	padding: 16px;
}

main article {
	padding: 16px;
	border: 2px solid;
	margin-bottom: 16px;
	border-radius: 8px;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 8px;
}

main article :last-child {
	margin-bottom: 0;
}

main article h1 {
	font-size: 22px; }
main article h2 {
	font-size: 18px; }
main article h3 {
	font-size: 16px; }
main article h4, main article h5, main article h6 {
	font-size: 14px; }

h1 {
	font-size: 30px; }
h2 {
	font-size: 24px; }
h3 {
	font-size: 20px; }
h4 {
	font-size: 18px; }
h5 {
	font-size: 16px; }
h6 {
	font-size: 14px; }
